fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

passlib[bcrypt]
python-jose[cryptography]
PyJWT

SQLAlchemy>=2.0
pyodbc

pandas
numpy
scikit-learn
joblib

librosa
soundfile
tensorflow
